@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,600,700,800&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:500,700&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #2d333a;
  line-height: 1;
  font-family: Montserrat;
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Montserrat;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  background-color: #f6f7f8;
  line-height: 1.2
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 87rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,85.125rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.button {
  display: inline-flex;
  transition: all .3s;
  border-radius: .25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #2d333a;
  color: #fff;
  padding-left: .9375rem;
  padding-right: .9375rem;
  max-width: 24.1875rem;
  width: 100%;
  text-align: center;
  justify-content: center
}
.button--white {
  background-color: #fff;
  color: #2d333a
}
.button--blue {
  background-color: #020f59;
  color: #fff;
  text-align: center;
  width: auto;
  max-width: 62rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem
}
.button--fw {
  width: 100%
}
.menu__body {
  gap: 1.25rem
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  row-gap: .1875rem;
  align-items: end
}
.menu__item {
  display: inline-block
}
.menu__link {
  line-height: 1.3;
  transition: .3s color
}
.icon-menu {
  display: none
}
[data-showmore-button] {
  color: #ff8700;
  padding-top: 1.5625rem
}
[data-showmore-button] span:last-child {
  display: none
}
._showmore-active [data-showmore-button] span {
  display: none
}
._showmore-active [data-showmore-button] span:last-child {
  display: block
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
[class*=colored] {
  color: #ff8700
}
[class*=decor] {
  pointer-events: none
}
[class*="--center"] {
  text-align: center
}
[class*="--capital"] {
  text-transform: capitalize
}
[class*=upp] {
  text-transform: uppercase
}
[class*=bold] {
  font-weight: 700
}
img {
  pointer-events: none
}
address {
  font-style: normal
}
.subtitle-transparent {
  line-height: 1.1;
  text-align: center;
  color: transparent;
  font-style: normal;
  font-family: Montserrat;
  font-family: Roboto;
  -webkit-text-stroke-width: .125rem;
  -webkit-text-stroke-color: #ffddb7;
  font-weight: 700;
  letter-spacing: .9375rem;
  text-transform: uppercase
}
.subtitle-color {
  line-height: 1.2;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase
}
.subtitle-color--white {
  color: #fff;
  margin-top: 0
}
.subtitle-color--non-margin {
  margin-top: 0
}
.text p {
  overflow-wrap: break-word
}
.text p:not(:last-child) {
  margin-bottom: .9375rem
}
.header-title {
  display: grid;
  justify-items: center
}
.header {
  position: fixed;
  width: 100%;
  z-index: 50;
  background: #020f59;
  color: #fff
}
.header__container {
  display: grid;
  background: #020f59;
  z-index: 550;
  position: relative;
  grid-template-columns: auto 1fr auto;
  padding-top: .9375rem;
  padding-bottom: .9375rem;
  align-items: center
}
.header__logo {
  position: relative;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center
}
.header__logo img {
  width: 8.375rem
}
.header__logo-img {
  flex: 0 0 8.375rem;
  aspect-ratio: 134/40
}
.page__hero {
  padding-top: 4.0625rem
}
.hero {
  position: relative
}
.hero__image {
  aspect-ratio: 1922/923;
  min-height: 21.875rem
}
.hero__body {
  max-width: 41.5625rem;
  display: grid;
  justify-items: center;
  margin-right: .9375rem;
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
  z-index: 5;
  background-color: #fff
}
.hero__title {
  font-weight: 600;
  line-height: 1.3
}
.about {
  background: url(../img/icons/sun.svg) 95% 0 no-repeat;
  background-size: auto 100%;
  background-color: #f6f7f8
}
.about__content {
  background-color: #fff;
  padding: 1.875rem 1.25rem
}
.about__content p {
  text-align: justify
}
.about__content p:not(:last-child) {
  margin-bottom: .9375rem
}
.installed {
  color: #fff;
  background: url(../img/installed.webp) 0 0 no-repeat;
  background-size: auto 100%
}
.installed__list {
  display: grid;
  grid-template-columns: auto
}
.installed__list:not(:last-child) {
  margin-bottom: 2.5rem
}
.installed__area {
  display: grid;
  gap: .9375rem;
  justify-items: center;
  grid-template-columns: repeat(2,1fr)
}
.item-installed {
  display: grid;
  gap: 1rem;
  border-radius: 4px;
  border: 1px solid #fff;
  opacity: .95;
  box-shadow: 0 20px 40px 0 rgba(0,0,0,.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px)
}
.item-installed__title {
  font-family: Roboto;
  font-weight: 500;
  text-transform: uppercase
}
.item-installed__value {
  text-align: center;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #fff;
  font-family: Roboto;
  font-weight: 800;
  color: transparent;
  letter-spacing: .75rem
}
.item-installed__label {
  font-family: Roboto;
  font-weight: 500;
  text-transform: uppercase;
  text-align: end
}
.item-area {
  display: grid;
  padding: 1.25rem;
  gap: 1.875rem;
  align-items: center;
  grid-template-columns: auto 1fr
}
.item-area__image--objects {
  width: 10rem;
  aspect-ratio: 160/100
}
.item-area__image--eu {
  width: 11.0625rem;
  aspect-ratio: 177/100
}
.item-area__label {
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  text-transform: uppercase
}
.benefits__list {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: start
}
.item-benefits {
  background-color: #fff
}
.item-benefits__header {
  display: flex;
  align-items: center
}
.item-benefits__image {
  width: 6.25rem;
  aspect-ratio: 100/100
}
.item-benefits__title {
  color: #ff8700;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase
}
.type {
  background: #020f59
}
.type__text {
  color: #fff;
  max-width: 57.5rem;
  text-align: center
}
.type-tabs__navigation {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  color: #fff;
  margin-bottom: 1.875rem;
  margin-top: 1.875rem
}
.type-tabs__navigation ._tab-active {
  color: #2d333a;
  background: #fff
}
.type-tabs__title {
  padding: 1.25rem .9375rem;
  border-radius: .25rem;
  border: 1px solid #f6f7f8
}
.type-list {
  display: flex
}
.type-item {
  border-radius: .3125rem;
  overflow: hidden;
  flex: 1 1 666px;
  color: #2d333a;
  background: #fff;
  display: flex;
  flex-direction: column
}
.type-item__body {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem
}
.type-item__image {
  height: 22.5rem;
  aspect-ratio: 666/360
}
.type-item__title {
  font-family: Roboto;
  font-weight: 500;
  text-transform: uppercase
}
.kit__list {
  display: grid;
  grid-template-columns: repeat(6,1fr)
}
.kit__title {
  display: inline-flex;
  align-items: center;
  align-self: center;
  justify-content: flex-end;
  font-weight: 600
}
.kit__title::before {
  color: #ff8700;
  display: inline-block
}
.kit__1 {
  background-color: #fff;
  grid-area: 1/1/2/3
}
.kit__2 {
  background-color: #fff;
  grid-area: 1/3/3/7
}
.kit__2-image {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  aspect-ratio: 1796/1040
}
.kit__3 {
  background-color: #fff;
  grid-area: 2/1/5/3
}
.kit__3 .kit__body .kit__title::before {
  padding-right: .625rem;
  content: "1"
}
.kit__3-image {
  aspect-ratio: 1/1.5
}
.kit__4 {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  background-color: #fff;
  grid-area: 3/3/5/5
}
.kit__4 .kit__body .kit__title::before {
  padding-right: .625rem;
  content: "2"
}
.kit__4--reverse {
  flex-direction: column-reverse
}
.kit__4-image {
  aspect-ratio: 1.5/1
}
.kit__5 {
  background-color: #fff;
  grid-area: 3/5/5/7
}
.kit__5 .kit__body .kit__title::before {
  content: "3";
  padding-right: .625rem
}
.kit__5-image {
  aspect-ratio: 1.5/1
}
.kit__6 {
  display: flex;
  background-color: #fff;
  grid-area: 5/1/6/4
}
.kit__6 .kit__body .kit__title::before {
  padding-right: .625rem;
  content: "4"
}
.kit__6--reverse {
  flex-direction: row-reverse
}
.kit__6-image {
  width: 16.25rem;
  aspect-ratio: 2/1
}
.kit__7 {
  display: flex;
  background-color: #fff;
  grid-area: 5/4/6/7
}
.kit__7 .kit__body .kit__title::before {
  padding-right: .625rem;
  content: "5"
}
.kit__7--reverse {
  flex-direction: row-reverse
}
.kit__7-image {
  width: 16.25rem;
  aspect-ratio: 1.5/1
}
.best {
  display: flex;
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,85.125rem) 1fr .9375rem
}
.best>* {
  min-width: 0;
  grid-column: 3/6
}
.best__content {
  grid-column: 1/6
}
.best__body {
  flex-basis: 56.25rem;
  display: grid;
  justify-items: center;
  align-items: center;
  align-content: center
}
.best__title {
  margin-top: 0;
  margin-bottom: 0
}
.best__img {
  max-width: 51.8125rem
}
.best__image {
  aspect-ratio: 829/600
}
@media (min-width:61.99875em) {
  .installed__list {
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr
  }
  .item-installed--first {
    grid-area: 1/1/2/2
  }
  .item-installed--wide {
    grid-area: 1/2/2/4
  }
  .item-installed--third {
    grid-area: 1/4/2/5
  }
  .best__content {
    grid-column: 3/6;
    display: flex
  }
}
@media (min-width:87em) {
  .button {
    font-size: 1.25rem
  }
  .button--blue {
    margin: 1.25rem
  }
  .menu__list {
    -webkit-column-gap: 3.125rem;
    -moz-column-gap: 3.125rem;
    column-gap: 3.125rem
  }
  .menu__item {
    font-size: 1.25rem
  }
  .subtitle-transparent {
    font-size: 6.25rem
  }
  .subtitle-color {
    font-size: 2.625rem
  }
  .subtitle-color {
    margin-top: -2.8125rem
  }
  .subtitle-color {
    margin-bottom: 2.5rem
  }
  .text p {
    font-size: 1.25rem
  }
  .header__container {
    -webkit-column-gap: 3.125rem;
    -moz-column-gap: 3.125rem;
    column-gap: 3.125rem
  }
  .header__logo {
    gap: 1.5rem
  }
  .page__about {
    padding-top: 6.25rem
  }
  .page__about {
    padding-bottom: 6.25rem
  }
  .page__benefits {
    padding-top: 5rem
  }
  .page__benefits {
    padding-bottom: 4.0625rem
  }
  .page__type {
    padding-top: 5rem
  }
  .page__type {
    padding-bottom: 4.0625rem
  }
  .page__kit {
    padding-top: 5rem
  }
  .page__kit {
    padding-bottom: 4.0625rem
  }
  .page__best {
    padding-top: 5rem
  }
  .page__best {
    padding-bottom: 4.0625rem
  }
  .hero__body {
    gap: 1.875rem
  }
  .hero__body {
    padding: 2.5rem
  }
  .hero__title {
    font-size: 2.625rem
  }
  .about__content p {
    font-size: 1.25rem
  }
  .installed__container {
    padding-top: 5rem
  }
  .installed__container {
    padding-bottom: 5rem
  }
  .installed__list {
    grid-row-gap: 1.875rem
  }
  .installed__list {
    grid-column-gap: 1.875rem
  }
  .installed__area {
    -webkit-column-gap: 4.375rem;
    -moz-column-gap: 4.375rem;
    column-gap: 4.375rem
  }
  .item-installed {
    padding-top: 1.25rem
  }
  .item-installed {
    padding-bottom: 1.25rem
  }
  .item-installed {
    padding-left: 1.875rem
  }
  .item-installed {
    padding-right: 1.875rem
  }
  .item-installed__title {
    font-size: 2rem
  }
  .item-installed__value {
    font-size: 7.5rem
  }
  .item-installed__label {
    font-size: 2rem
  }
  .item-area__label {
    font-size: 2rem
  }
  .benefits__list {
    gap: 1.875rem
  }
  .item-benefits {
    padding-top: 1.875rem
  }
  .item-benefits {
    padding-bottom: 1.875rem
  }
  .item-benefits {
    padding-left: 1.25rem
  }
  .item-benefits {
    padding-right: 1.25rem
  }
  .item-benefits__header {
    gap: 1.25rem
  }
  .item-benefits__title {
    font-size: 1.5rem
  }
  .type-tabs__navigation {
    gap: 1.875rem
  }
  .type-list {
    gap: 1.875rem
  }
  .type-item {
    gap: 1.875rem
  }
  .type-item__title {
    padding-left: 1.875rem
  }
  .type-item__title {
    padding-right: 1.875rem
  }
  .type-item__title {
    font-size: 1.9375rem
  }
  .type-item__text {
    padding-left: 1.875rem
  }
  .type-item__text {
    padding-right: 1.875rem
  }
  .kit__list {
    gap: 1.875rem
  }
  .kit__title {
    gap: .5rem
  }
  .kit__title::before {
    font-size: 3.125rem
  }
  .kit__title {
    font-size: 2rem
  }
  .kit__body {
    padding: 1.875rem
  }
  .best__body {
    gap: 2.5rem
  }
  .best__body {
    padding-top: 1.875rem
  }
  .best__body {
    padding-bottom: 1.875rem
  }
  .best__body {
    padding-left: 2.5rem
  }
  .best__body {
    padding-right: 2.5rem
  }
}
@media (max-width:87em) {
  .kit__6 {
    flex-wrap: wrap;
    justify-content: center
  }
  .kit__6-image {
    text-align: center;
    padding-top: .9375rem;
    min-height: 11.25rem
  }
  .kit__7 {
    flex-wrap: wrap;
    justify-content: center
  }
  .kit__7-image {
    padding-top: .9375rem;
    min-height: 11.25rem
  }
}
@media (max-width:48em) {
  .kit__list {
    gap: .625rem
  }
  .kit__title {
    gap: .0000000625rem
  }
  .kit__title::before {
    font-size: 1.5625rem
  }
  .kit__title {
    font-size: 1.25rem
  }
  .kit__body {
    padding: .9375rem
  }
}
@media (max-width:20em) {
  .button {
    font-size: 1.125rem
  }
  .button--blue {
    margin: .9375rem
  }
  .menu__item {
    font-size: 1.03125rem
  }
  .subtitle-transparent {
    font-size: 2.1875rem
  }
  .subtitle-color {
    font-size: 1.625rem
  }
  .subtitle-color {
    margin-top: -1.25rem
  }
  .subtitle-color {
    margin-bottom: 1.5625rem
  }
  .text p {
    font-size: 1.125rem
  }
  .header__logo {
    gap: .9375rem
  }
  .page__about {
    padding-top: 2.1875rem
  }
  .page__about {
    padding-bottom: 2.1875rem
  }
  .page__benefits {
    padding-top: 3.125rem
  }
  .page__benefits {
    padding-bottom: 2.5rem
  }
  .page__type {
    padding-top: 3.125rem
  }
  .page__type {
    padding-bottom: 2.5rem
  }
  .page__kit {
    padding-top: 3.125rem
  }
  .page__kit {
    padding-bottom: 2.5rem
  }
  .page__best {
    padding-top: 3.125rem
  }
  .page__best {
    padding-bottom: 2.5rem
  }
  .hero__body {
    gap: .625rem
  }
  .hero__body {
    padding: .625rem
  }
  .hero__title {
    font-size: 1.125rem
  }
  .about__content p {
    font-size: 1.125rem
  }
  .installed__container {
    padding-top: 3.125rem
  }
  .installed__container {
    padding-bottom: 3.125rem
  }
  .installed__list {
    grid-row-gap: .9375rem
  }
  .installed__list {
    grid-column-gap: .9375rem
  }
  .installed__area {
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem
  }
  .item-installed {
    padding-top: .9375rem
  }
  .item-installed {
    padding-bottom: .9375rem
  }
  .item-installed {
    padding-left: .9375rem
  }
  .item-installed {
    padding-right: .9375rem
  }
  .item-installed__title {
    font-size: 1.625rem
  }
  .item-installed__value {
    font-size: 4.375rem
  }
  .item-installed__label {
    font-size: 1.625rem
  }
  .item-area__label {
    font-size: 1.25rem
  }
  .benefits__list {
    gap: .9375rem
  }
  .item-benefits {
    padding-top: .9375rem
  }
  .item-benefits {
    padding-bottom: .9375rem
  }
  .item-benefits {
    padding-left: .9375rem
  }
  .item-benefits {
    padding-right: .9375rem
  }
  .item-benefits__header {
    gap: .9375rem
  }
  .item-benefits__title {
    font-size: 1.25rem
  }
  .type-tabs__navigation {
    gap: .9375rem
  }
  .type-list {
    gap: .9375rem
  }
  .type-item {
    gap: 1.25rem
  }
  .type-item__title {
    padding-left: .9375rem
  }
  .type-item__title {
    padding-right: .9375rem
  }
  .type-item__title {
    font-size: 1.375rem
  }
  .type-item__text {
    padding-left: .9375rem
  }
  .type-item__text {
    padding-right: .9375rem
  }
  .best__body {
    gap: 1.875rem
  }
  .best__body {
    padding-top: 1.25rem
  }
  .best__body {
    padding-bottom: 1.25rem
  }
  .best__body {
    padding-left: .9375rem
  }
  .best__body {
    padding-right: .9375rem
  }
}
@media (max-width:71.875rem) {
  .benefits__list {
    grid-template-columns: repeat(2,1fr)
  }
}
@media (max-width:61.99875em) {
  .menu__list {
    row-gap: 1.375rem
  }
  .hero__image {
    aspect-ratio: 1922/1300
  }
  .item-benefits__header {
    text-align: center
  }
  .type-tabs__navigation {
    grid-template-columns: auto
  }
  .type-list {
    flex-wrap: wrap
  }
  .type-item__image {
    aspect-ratio: 770/360
  }
  .kit__container {
    margin-left: -.9375rem;
    margin-right: -.9375rem
  }
  .kit__3 {
    display: flex;
    flex-direction: column-reverse
  }
  .best__img {
    max-width: -webkit-max-content;
    max-width: max-content
  }
}
@media (max-width:57.8125em) {
  .installed__area {
    grid-template-columns: auto
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 8.5rem .9375rem .9375rem 1.875rem;
    background: #020f59;
    display: grid;
    grid-template-rows: 1fr auto;
    transition: left .3s
  }
  .menu__body::before {
    content: "";
    position: fixed;
    background: #020f59;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 55
  }
  .menu__body::after {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    z-index: 5;
    background-color: #fff
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu__list {
    -webkit-column-gap: .625rem;
    -moz-column-gap: .625rem;
    column-gap: .625rem
  }
  .menu__list {
    justify-content: start;
    flex-direction: column
  }
  .menu__link {
    font-size: 1.875rem;
    font-weight: 700
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #fff
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .header__container {
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem;
    gap: 0;
    grid-template-columns: auto 1fr auto auto
  }
  .hero__image {
    aspect-ratio: 1922/1400
  }
  .hero__body {
    top: 58%;
    left: 40%
  }
  .hero__title {
    line-height: 1.2
  }
  .item-installed__value {
    -webkit-text-stroke-width: 2px
  }
  .benefits__list {
    grid-template-columns: auto
  }
  .item-benefits__header {
    flex-direction: column;
    margin-bottom: .9375rem
  }
  .kit__list {
    grid-template-columns: repeat(2,1fr)
  }
  .kit__1 {
    grid-area: 1/1/2/2
  }
  .kit__2 {
    grid-area: 4/1/5/3
  }
  .kit__3 {
    grid-area: 1/2/2/3
  }
  .kit__3-image {
    aspect-ratio: 1/.5
  }
  .kit__4 {
    grid-area: 2/1/3/2
  }
  .kit__5 {
    grid-area: 2/2/3/3
  }
  .kit__6 {
    grid-area: 3/1/4/2
  }
  .kit__7 {
    grid-area: 3/2/4/3
  }
}
@media (max-width:47.99875em)and (max-width:20em) {
  .menu__body::after {
    height: 4.375rem
  }
}
@media (max-width:47.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:34.375em) {
  .kit__list {
    grid-template-columns: 1fr
  }
  .kit__1 {
    grid-area: 1/1/2/2
  }
  .kit__2 {
    grid-area: 2/1/3/2
  }
  .kit__3 {
    grid-area: 3/1/4/2
  }
  .kit__4 {
    grid-area: 4/1/5/2
  }
  .kit__5 {
    grid-area: 5/1/6/2;
    display: flex;
    flex-direction: column-reverse
  }
  .kit__6 {
    grid-area: 6/1/7/2
  }
  .kit__7 {
    grid-area: 7/1/8/2
  }
}
@media (max-width:29.99875em) {
  .hero__body {
    top: 62%;
    left: 40%
  }
  .item-area {
    grid-template-columns: auto;
    justify-items: center
  }
}
@media (min-width:20em)and (max-width:87em) {
  .button {
    font-size: clamp(1.125rem ,1.0876865672rem + .1865671642vw ,1.25rem)
  }
  .button--blue {
    margin: clamp(.9375rem ,.8442164179rem + .4664179104vw ,1.25rem)
  }
  .menu__item {
    font-size: clamp(1.03125rem ,.9659514925rem + .3264925373vw ,1.25rem)
  }
  .subtitle-transparent {
    font-size: clamp(2.1875rem ,.9748134328rem + 6.0634328358vw ,6.25rem)
  }
  .subtitle-color {
    font-size: clamp(1.625rem ,1.3264925373rem + 1.4925373134vw ,2.625rem)
  }
  .subtitle-color {
    margin-top: clamp(-2.8125rem ,-.7835820896rem + -2.3320895522vw ,-1.25rem)
  }
  .subtitle-color {
    margin-bottom: clamp(1.5625rem ,1.2826492537rem + 1.3992537313vw ,2.5rem)
  }
  .text p {
    font-size: clamp(1.125rem ,1.0876865672rem + .1865671642vw ,1.25rem)
  }
  .header__logo {
    gap: clamp(.9375rem ,.7695895522rem + .8395522388vw ,1.5rem)
  }
  .page__about {
    padding-top: clamp(2.1875rem ,.9748134328rem + 6.0634328358vw ,6.25rem)
  }
  .page__about {
    padding-bottom: clamp(2.1875rem ,.9748134328rem + 6.0634328358vw ,6.25rem)
  }
  .page__benefits {
    padding-top: clamp(3.125rem ,2.5652985075rem + 2.7985074627vw ,5rem)
  }
  .page__benefits {
    padding-bottom: clamp(2.5rem ,2.0335820896rem + 2.3320895522vw ,4.0625rem)
  }
  .page__type {
    padding-top: clamp(3.125rem ,2.5652985075rem + 2.7985074627vw ,5rem)
  }
  .page__type {
    padding-bottom: clamp(2.5rem ,2.0335820896rem + 2.3320895522vw ,4.0625rem)
  }
  .page__kit {
    padding-top: clamp(3.125rem ,2.5652985075rem + 2.7985074627vw ,5rem)
  }
  .page__kit {
    padding-bottom: clamp(2.5rem ,2.0335820896rem + 2.3320895522vw ,4.0625rem)
  }
  .page__best {
    padding-top: clamp(3.125rem ,2.5652985075rem + 2.7985074627vw ,5rem)
  }
  .page__best {
    padding-bottom: clamp(2.5rem ,2.0335820896rem + 2.3320895522vw ,4.0625rem)
  }
  .hero__body {
    gap: clamp(.625rem ,.2518656716rem + 1.8656716418vw ,1.875rem)
  }
  .hero__body {
    padding: clamp(.625rem ,.0652985075rem + 2.7985074627vw ,2.5rem)
  }
  .hero__title {
    font-size: clamp(1.125rem ,.677238806rem + 2.2388059701vw ,2.625rem)
  }
  .about__content p {
    font-size: clamp(1.125rem ,1.0876865672rem + .1865671642vw ,1.25rem)
  }
  .installed__container {
    padding-top: clamp(3.125rem ,2.5652985075rem + 2.7985074627vw ,5rem)
  }
  .installed__container {
    padding-bottom: clamp(3.125rem ,2.5652985075rem + 2.7985074627vw ,5rem)
  }
  .installed__list {
    grid-row-gap: clamp(.9375rem ,.6576492537rem + 1.3992537313vw ,1.875rem)
  }
  .installed__list {
    grid-column-gap: clamp(.9375rem ,.6576492537rem + 1.3992537313vw ,1.875rem)
  }
  .installed__area {
    -webkit-column-gap: clamp(.9375rem ,-.088619403rem + 5.1305970149vw ,4.375rem);
    -moz-column-gap: clamp(.9375rem ,-.088619403rem + 5.1305970149vw ,4.375rem);
    column-gap: clamp(.9375rem ,-.088619403rem + 5.1305970149vw ,4.375rem)
  }
  .item-installed {
    padding-top: clamp(.9375rem ,.8442164179rem + .4664179104vw ,1.25rem)
  }
  .item-installed {
    padding-bottom: clamp(.9375rem ,.8442164179rem + .4664179104vw ,1.25rem)
  }
  .item-installed {
    padding-left: clamp(.9375rem ,.6576492537rem + 1.3992537313vw ,1.875rem)
  }
  .item-installed {
    padding-right: clamp(.9375rem ,.6576492537rem + 1.3992537313vw ,1.875rem)
  }
  .item-installed__title {
    font-size: clamp(1.625rem ,1.5130597015rem + .5597014925vw ,2rem)
  }
  .item-installed__value {
    font-size: clamp(4.375rem ,3.4421641791rem + 4.6641791045vw ,7.5rem)
  }
  .item-installed__label {
    font-size: clamp(1.625rem ,1.5130597015rem + .5597014925vw ,2rem)
  }
  .item-area__label {
    font-size: clamp(1.25rem ,1.026119403rem + 1.1194029851vw ,2rem)
  }
  .benefits__list {
    gap: clamp(.9375rem ,.6576492537rem + 1.3992537313vw ,1.875rem)
  }
  .item-benefits {
    padding-top: clamp(.9375rem ,.6576492537rem + 1.3992537313vw ,1.875rem)
  }
  .item-benefits {
    padding-bottom: clamp(.9375rem ,.6576492537rem + 1.3992537313vw ,1.875rem)
  }
  .item-benefits {
    padding-left: clamp(.9375rem ,.8442164179rem + .4664179104vw ,1.25rem)
  }
  .item-benefits {
    padding-right: clamp(.9375rem ,.8442164179rem + .4664179104vw ,1.25rem)
  }
  .item-benefits__header {
    gap: clamp(.9375rem ,.8442164179rem + .4664179104vw ,1.25rem)
  }
  .item-benefits__title {
    font-size: clamp(1.25rem ,1.1753731343rem + .3731343284vw ,1.5rem)
  }
  .type-tabs__navigation {
    gap: clamp(.9375rem ,.6576492537rem + 1.3992537313vw ,1.875rem)
  }
  .type-list {
    gap: clamp(.9375rem ,.6576492537rem + 1.3992537313vw ,1.875rem)
  }
  .type-item {
    gap: clamp(1.25rem ,1.0634328358rem + .9328358209vw ,1.875rem)
  }
  .type-item__title {
    padding-left: clamp(.9375rem ,.6576492537rem + 1.3992537313vw ,1.875rem)
  }
  .type-item__title {
    padding-right: clamp(.9375rem ,.6576492537rem + 1.3992537313vw ,1.875rem)
  }
  .type-item__title {
    font-size: clamp(1.375rem ,1.2070895522rem + .8395522388vw ,1.9375rem)
  }
  .type-item__text {
    padding-left: clamp(.9375rem ,.6576492537rem + 1.3992537313vw ,1.875rem)
  }
  .type-item__text {
    padding-right: clamp(.9375rem ,.6576492537rem + 1.3992537313vw ,1.875rem)
  }
  .best__body {
    gap: clamp(1.875rem ,1.6884328358rem + .9328358209vw ,2.5rem)
  }
  .best__body {
    padding-top: clamp(1.25rem ,1.0634328358rem + .9328358209vw ,1.875rem)
  }
  .best__body {
    padding-bottom: clamp(1.25rem ,1.0634328358rem + .9328358209vw ,1.875rem)
  }
  .best__body {
    padding-left: clamp(.9375rem ,.4710820896rem + 2.3320895522vw ,2.5rem)
  }
  .best__body {
    padding-right: clamp(.9375rem ,.4710820896rem + 2.3320895522vw ,2.5rem)
  }
}
@media (max-width:47.99875em)and (min-width:87em) {
  .menu__body::after {
    height: 7.25rem
  }
}
@media (max-width:47.99875em)and (min-width:20em)and (max-width:87em) {
  .menu__body::after {
    height: clamp(4.375rem ,3.5167910448rem + 4.2910447761vw ,7.25rem)
  }
}
@media (min-width:47.99875em)and (max-width:87em) {
  .menu__list {
    -webkit-column-gap: clamp(.625rem ,-2.4517443351rem + 6.4100509599vw ,3.125rem);
    -moz-column-gap: clamp(.625rem ,-2.4517443351rem + 6.4100509599vw ,3.125rem);
    column-gap: clamp(.625rem ,-2.4517443351rem + 6.4100509599vw ,3.125rem)
  }
  .header__container {
    -webkit-column-gap: clamp(.9375rem ,-1.7546512932rem + 5.6087945899vw ,3.125rem);
    -moz-column-gap: clamp(.9375rem ,-1.7546512932rem + 5.6087945899vw ,3.125rem);
    column-gap: clamp(.9375rem ,-1.7546512932rem + 5.6087945899vw ,3.125rem)
  }
}
@media (min-width:48em)and (max-width:87em) {
  .kit__list {
    gap: clamp(.625rem ,-.9134615385rem + 3.2051282051vw ,1.875rem)
  }
  .kit__title {
    gap: clamp(.0000000625rem ,-.615384476rem + 1.2820511218vw ,.5rem)
  }
  .kit__title::before {
    font-size: clamp(1.5625rem ,-.3605769231rem + 4.0064102564vw ,3.125rem)
  }
  .kit__title {
    font-size: clamp(1.25rem ,.3269230769rem + 1.9230769231vw ,2rem)
  }
  .kit__body {
    padding: clamp(.9375rem ,-.2163461538rem + 2.4038461538vw ,1.875rem)
  }
}
@media (any-hover:hover) {
  .button--white:hover {
    color: #fff
  }
  .button--blue:hover {
    color: #fff
  }
  .button:hover {
    background-color: #ff8700
  }
  .menu__link:hover {
    color: #ff8700
  }
}